@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --warning: var(#c58f63);
}
.social-icon {
  transition: all 0.3s ease;
}
.fa-user:hover {
  color: #c58f63;
}
.fa-heart:hover {
  color: #c58f63;
}
.fa-bag-shopping:hover {
  color: #c58f63;
}
.fa-bars:hover {
  color: #c58f63;
}
.offcanvas-body ul li:hover a {
  color: #c58f63 !important;
}
.offcanvas-body .fa-facebook:hover {
  color: #c58f63 !important;
}
.offcanvas-body .fa-x-twitter:hover {
  color: #c58f63 !important;
}
.offcanvas-body .fa-square-tumblr:hover {
  color: #c58f63 !important;
}
